include *.py
include *.txt
include *.rst
include *.yaml

include .coveragerc
exclude .coveragerc

include pytest.ini
exclude pytest.ini

include tox.ini
exclude tox.ini

recursive-include src *.xml
exclude MANIFEST.in
